@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;500&display=swap');

body{
    font-family: 'Josefin Sans', sans-serif;
}
*{
    box-sizing: border-box;
}
:root {
    --main-color: #00BEAE;
    --y-color:#39444C;
}
.my-btn{
    background-color:var(--main-color) !important;
    color: #fff;
    border-color: var(--main-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition:all .5s ease-in-out;
}
.my-btn:hover{
background-color:var(--y-color) !important;
color:var(--main-color);
border-color: var(--main-color);

}
.pink-btn{
    background: -moz-linear-gradient(135deg, #b122e6 0%, #ff63de 100%);
    background: -webkit-linear-gradient(
            135deg
            , #b122e6 0%, #ff63de 100%);
    background: -ms-linear-gradient(135deg, #b122e6 0%, #ff63de 100%);
    color: #fff;
    border-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    transition: all .5s ease-in-out;
}
.pink-btn:hover{
    color: #FFFFFF;
    border-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;

}

/*start navbar */
.navbar-brand{
    width: 15%;
    color: #fff;
    text-shadow: 1px 1px 2px #232323;
    font-size: 1.8rem;
    font-weight: bolder;
}
.navbar-brand span{
    color: #fff !important;
}
.nav-w{
    width: 15%;
}
.style-nav{
    transition: all .8s ease-in-out;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.style-nav .nav-link{
    font-size: 1.5rem;
    font-weight: bolder;
    color: #fff !important;
    padding-left: .8rem;
    padding-right: .8rem;
    transition: all .5s ease-in-out;
}
.style-nav .nav-link:hover{
    color: var(--main-color) !important;
}
.nav-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}
.scroll-nav{
    transition: all .8s ease-in-out;
    background-color: var(--y-color);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.scroll-nav .nav-link{
    font-size: 1.3rem;
}
.style-nav .dropdown-item{
    color: var(--main-color);
    font-weight: bolder;
    padding: .5rem;
}
.style-nav .dropdown-item:hover{
    transition: all .5s ease-in-out;
    color: #fff;
    background-color: var(--main-color);
}
.style-nav .dropdown-item i{
    padding: 0 10px;
    font-size: 1.3rem;
}
.style-nav .dropdown-menu{
   min-width: 13rem;
}
/*end navabr */
/*start home page */
.main-img{
    position: relative;
    width: 100%;
    height: 110vh;
    background-image: url("/img/15.jpeg");
    background-size: cover;
    background-position: center;


}
.overlay{
width:100%;
height:100%;
position:absolute;
background-color:rgba(0,0,0,0.35);
    z-index: 1;
}
.custom-shape-divider-bottom-1629370652 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1629370652 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 164px;
}

.custom-shape-divider-bottom-1629370652 .shape-fill {
    fill: #FFFFFF;
}
.header-text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
}
.header-img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.header-img img{
    width: 100%;
    height: 100%;
}
.header-text h1{
    color: #FFFFFF;
    text-shadow: 2px 2px 3px #232323;


}
.header-text p{
    color: rgb(187, 185, 185);
    text-align: center;
}
.register-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-btn .my-btn{
    width: 100%;
    font-weight: bolder;
    font-size: 1.5rem;
}
/*start section 3*/
.section-3{
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 5vh ;
    background-image: url("/img/16.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.section3-text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    padding-left: 5rem;
}
.section3-text h1{}
.section3-text p{}
.section3-text p i {
    font-size: 2rem;
    padding: 9px;
    margin-right: 10px;
    /* padding: 8px 13px; */
    border-radius: 50%;
    border: 1px solid #fff;
}
.section3-img{
    width: 100%;
    height: 100%;
}
.flex-wrap.flex-start-v {
    align-items: flex-start;
}
.hiw-wrapper {
    position: relative;
    z-index: 0;
}
.flex-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service-icon{
    background: #00a591;
    color: #ffffff;
}
.hiw-item .service-icon {
    width: 100px;
    height: 100px;
    line-height: 100px;
    font-size: 30px;
    box-shadow: 0 0 0 10px #fff;
}
.service-icon {
    display: inline-block;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    line-height: 64px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    flex-shrink: 0;
}
.hiw-item {
    position: relative;
    padding: 20px;
    text-align: center;
}
.hiw-wrapper-3 .hiw-item {
    width: 33.32%;
}
.hiw-1629877062.hiw-item:before {
    border-color: #00a591!important;
}

.hiw-item:nth-child(3n):before, .hiw-item:nth-child(2n):before {
    content: " ";
    width: calc(100% + 45px);
    height: calc(50% + 130px);
    top: -52%;
    border: 2px dotted transparent;
    position: absolute;
    border-radius: 50%;
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    left: calc(-50% - 23px);
    z-index: -1;
}
.hiw-item:nth-child(3n):before {
    border-top-width: 2px;
    border-bottom-width: 0;
    top: 4%;
}

/*end section 3*/
/*start sction 4*/
.section4-img{
    width: 50%;
    height: 50%;
}
.section4-allimg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sextion4-text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sextion4-text h1{
    width: 100%;
    text-align: left !important;
}
.sextion4-text p{
    color: #aaa;
    text-align: left;
}
/*end section 4*/
/*end home page */
.login-page{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url("/img/slider-1.jpg");
    background-size: cover;
    background-position: center;
    padding: 15vh 0;
    z-index: 1;
}
.signup-page{
    width: 100%;
    height: 100%;
    position: relative;
    background-image: url("/img/slider-1.jpg");
    background-size: cover;
    background-position: center;
    padding: 11vh 0;
    padding-top: 15vh ;
    z-index: 1;
}
.loginbox{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3vh ;
}
.form-area{
    width: 90%;
    height: 100%;
    background: var(--y-color);

    border-radius: 5px;
    position: relative;
    padding: 4vh 8vh;
    color: #FFFFFF;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.form-area input{
    border: 1px solid #fff;
    background: transparent;
    padding: 10px 15px;
    position: relative;
    color: #fff;
}
.form-area input:focus{
    background: transparent;
    color: #fff;

}

.form-area::after {
    position: absolute;
    content: "";
    right: -8px;
    top: 10px;
    background: var(--main-color);
    height: 100%;
    width: 100%;
    -webkit-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    transform: rotate(6deg);
    border-radius: 5px;
    z-index: -1;
}
.form-area label{
    color: #FFFFFF;
    font-size: large;
}
.form-header{
    width: 100%;

    text-align: center;

}
.form-area input:-webkit-autofill {
    -webkit-text-fill-color: #fff;
    transition: background-color 5000s ease-in-out 0s;
}
.login-text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
/*start secton 2 */
.section-2{
    width: 100%;
    height: 100%;
    padding: 22vh 0 ;
}
.section2-header{
    width: 100%;
    /*height: 100%;*/
    display: flex;
    justify-content: center;
    align-items: center;

}
.section2-header h1{
    color: var(--main-color);
  
    text-align: center;
    font-family: sans-serif;
    font-size: 4rem;
    font-weight: 900;
}
.all-works{
    width: 100%;
    height: 100%;
    padding :13vh 0;

}
.img-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin:auto;
    background-color: var(--bs-secondary);
    color: var(--main-color);
    height: 100%;
    padding: 1rem;
    border: 1px solid;
    box-shadow: rgb(50 50 93 / 25%) 0px 50px 100px -20px, rgb(0 0 0 / 30%) 0px 30px 60px -30px, rgb(10 37 64 / 35%) 0px -2px 6px 0px inset;


}
.img-box i{
    font-size: 3rem;
    padding: 20px 10px;
}
.img-box p{
    text-align: center;
    color: #fff;
}
/*end section 2*/
/*start footer*/
footer{
    width: 100%;
    height: 100%;
    /*background-image: url("/img/10.jpg");*/
    /*background-size: cover;*/
    /*background-position: center;*/
    padding-top: 10vh;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--y-color);
}
.copyright{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    flex-direction: column;
}
copyright p i{
    color: var(--y-color) !important;
}
footer .nav-link{
    color: #fff;
    transition: all .5s ease-in-out;
}
footer .nav-link:hover{
    transition: all .5s ease-in-out;
    color:var(--y-color) ;
}
footer .nav-link i{
    padding: 0 10px;
    color: var(--main-color);
    font-size: 1.5rem;
}
.social {
    width: 100%;
    height: 100%;
}
.social a{
    text-decoration: none;
}
.social a i{
   background-color: var(--main-color);
    color: var(--y-color);
    padding :1rem;
    border-radius: 1rem;
    transition: all .8s ease-in-out;
    font-size: 1.7rem ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}
.social a i:hover{
    background-color: transparent;
    color: var(--main-color);
}
.right-reserved{
    font-size: .8rem;
}
/*end footer*/
/*start profile*/
.profile{
    width: 100%;
    height: 100%;
    overflow: visible;
    position: relative;
}
.background-img{
    width: 100%;
    height: 50vh;
    padding-top: 45vh;
    background-image: url("/img/16.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.background-img.about{
 height: 70vh;
 padding-top: 5vh;

}
.about .all-container{
margin-top:-50vh !important;
}

.background-img-product{
    width: 100%;
    height: 70vh;

    background-image: url("/img/slider-1.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.all-container{
    width: 100%;
    height: 100%;
    margin-top: -20vh;
}
.remove-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-side{
    background-color: #fff;
    border-radius: 1rem;
    padding: 3vh 2vw;
    width: 100%;
    height: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-side img{
    border-radius: 50%;
    width: 130px;
    height: 130px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.left-side h1{
    font-size: 1.5rem;
    padding-top: 1.5rem;
    color: var(--main-color);
    text-shadow: 1px 1px 2px #232323;
}
.left-side h2,.left-side p{
    font-size: 1rem;
    color: #aaa;
}
.right-side{
    background-color: #fff;
    border-radius: 1rem;
    padding: 15vh 3vw;
    width: 100%;
    height: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.header-info{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.header-info h1{
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--main-color);
    text-shadow: 1px 1px 2px #232323;
    margin-bottom: 0;
}
.header-info a{
    color: #aaa;
    text-decoration: none;
}
.modal-dialog{
    max-width: 50%;
}
.modal-body {
    padding: 2vh 4rem;
}
.modal-header{
    padding: 4vh 4rem;
}
.addedProduct a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #aaa;
    padding: 2rem;
    transition: all 0.5s ease-in-out;
}
.addedProduct a i {
    font-size:2rem ;
    padding-top: 1rem;
    color: var(--y-color);

}
.addedProduct a:hover{
    background: rgba(100, 72, 245, 0.18);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

}
/*end profile*/
/*start products page*/
.profile-nav{
    width: 100%;
    height: 100%;
}
.profile-nav .nav-link{
    color: var(--y-color);
    transition: all .5s ease-in-out;
    font-size: 1.3rem;
}
.profile-nav .nav-link.active{
    color:var(--main-color);
}
.profile-nav .nav-link i{
    color: var(--main-color);
    padding-right: 14px;
}
.profile-nav .nav-link:hover{
    color: #fff;

}
.profile-nav .nav-item:hover{
    transition: all .5s ease-in-out;
  background-color: rgba(154, 158, 149, 0.63);
    border-radius: 2rem;
}
.product .card{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.product .card-icon{
    position: relative;
}
.product .card-icon .fa-gavel{
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: -moz-linear-gradient(135deg, #b122e6 0%, #ff63de 100%);
    background: -webkit-linear-gradient(
            135deg
            , #b122e6 0%, #ff63de 100%);
    background: -ms-linear-gradient(135deg, #b122e6 0%, #ff63de 100%);
    padding: 10px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.price{
    width: 100%;
    padding: .5rem 0;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px dashed #aaa;
    border-bottom: 1px dashed #aaa;
}
.current-Bid{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.current-Bid a{
display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
}
.current-Bid a:hover{
color:var(--main-color);
}
.current-Bid i{
    color: var(--main-color);
}
.current-Bid:first-child{
    border-right: 1px solid #aaa;
    margin-right: 1rem;
}
.current-Bid i{
    font-size: 1.5rem;
}
.fav{
    min-height: 26px;
    width: 100%;
}
.current-Bid p{
    margin: 0;
}
.text-price{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.card-timer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.product .card-img-top{
    height: 200px;
}
.btn-wishlist{
    border: none;
    color: red;
    background: none;
}
/*end product page */
/*start my products page*/
.icon-remove{
    /*position: absolute;*/
    /*bottom: 0px;*/
    /*left: 0;*/
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: center;
}
.icon-remove a{
    text-decoration: none;
}
.icon-remove p{
    margin: 0;
}
.icon-remove i {
    color: #aaa;
    font-size: 1.2rem;
    border-radius: 50%;
}
.remove{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #aaa;
    text-decoration: none;
    transition: all .5s ease-in-out;
}
.remove p{
    margin: 0;
}
.remove:hover{
    color: var(--main-color);
}
.all-container .card-title{
    color: var(--main-color);
    font-weight: bolder;
    font-size: 1.4rem;
}
.dis{
color: #aaa;
    padding:10px 0;
    font-size: .7rem;
}
.header-product-text{
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 2px 1px var(--main-color);
}
.demo{
text-shadow: 0px 5px 3px rgb(245 49 127 / 20%);
background-clip: text;
-webkit-background-clip: text;
font-size: 1.3rem;
line-height: 1;
text-align: center;
    color: var(--main-color);
}
/*end my products page*/
/*start single product*/
.box-img{
    width: 90%;
    height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 1rem;
    margin: auto;
}
.box-img img{
    width: 100%;
    height: 100%;

}
.header-product{
    width: 100%;
}
.header-product h1{
    color: var(--main-color);
    /*text-shadow: 2px 1px 8px #232323;*/
    font-family: sans-serif;
    font-size: 3rem;
    font-weight: 900;
}
.header-product p{
    color: #aaa;
    font-size: 1.5rem;
    word-wrap: break-word;
}
.product-box-back{
    width: 100%;
    height: max-content;
    border-radius: 1rem;
    background-color: #EBF2FF;
    padding: 1.5rem;

}
.product-box-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.countdown{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid #aaa;
    flex-direction: column;
    padding: 27px 25px;
}
.bid-form{

    border-radius: 1rem;
    padding: 5vh 3vh;

}
.bid-form h1{
color:var(--main-color);
}
.bid-now{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
    padding :3rem 0;
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}
.bid-row{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 10px;
    border-bottom: 1px dashed #ddd;
}


.greetings{
    width: 100%;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed #ddd;
}
.greetings .col{

}
/*end single product */
/*Start AboutUs */
.au-header{
  text-align: center;
    font-weight: bolder;
    color: #fff !important;
}
.au-paragraph {
    color: #fff !important;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: bolder;
    font-size: 1.2rem;
    text-align:center;
}
.modal-content{
    padding: 5vh 0;
}
/*End AboutUs */
.single-product{
    margin-top: -33vh;
}
.carousel-inner img {
    width: 100%
}

.carousel-item img {
    width: 100%;
    height: 240px !important
}
#myCarousel{
box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
#myCarousel .carousel-indicators {
    position: static;
    margin-top: 0px
}

#myCarousel .carousel-indicators>li {
    width: 100%;
}

#myCarousel .carousel-indicators li img {
    display: block;
    opacity: 0.5;
    border:1px solid var(--main-color);
    height:20vh;
}

#myCarousel .carousel-indicators li.active img {
    opacity: 1;
     border:3px solid var(--main-color);
}

#myCarousel .carousel-indicators li:hover img {
    opacity: 0.75;
}
.carousel-indicators{
margin-left:0;
margin-right:0;
}
#myCarousel .img-fluid{
width:100% !important;
}
.right-side.single{
padding:5vh 3vw;
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.single h1{
color:var(--main-color);
}
.text {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
   color:#aaa;

}