<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/normalize.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link th:href="@{/css/style.css}" rel="stylesheet" />
  <script src="https://kit.fontawesome.com/9e5d1913ca.js" crossorigin="anonymous"></script>
  <title>Document</title>
</head>
<body>
<!-- start navbar -->
<nav th:replace="fragments/navbar :: navbar"></nav>
<!-- end navbar -->
<!-- start hero img -->
<section class="main-img">
  <div>
    <h1 class="au-header">About Auction</h1>
  </div>
  <p class="au-paragraph">Auction website allows the user to buy or sell any product they want, the user can put products in both ; used products or new products like (cars,furniture,laptops,photos,split units AC,apartment etc..) to sell them by the website .</p>

  <div>
    <h1 class="au-header">Meet Our Team</h1>
  </div>
</section>
<!-- end hero img -->
<!--<section class="section-2">-->
<!--  <div class="container">-->
<!--    <div class="section2-header">-->
<!--      <h1>How it works</h1>-->
<!--    </div>-->
<!--    <div class="all-works">-->
<!--      <div class="row">-->
<!--        <div class="col img-box">-->
<!--          <img th:src="@{/img/how1.png}"/>-->
<!--          <h3>Sign Up</h3>-->
<!--          <p>No Credit Card Required</p>-->
<!--        </div>-->
<!--        <div class="col img-box">-->
<!--          <img th:src="@{/img/how2.png}" />-->
<!--          <h3>Bid</h3>-->
<!--          <p>Bidding is free Only pay if you win</p>-->
<!--        </div>-->
<!--        <div class="col img-box">-->
<!--          <img th:src="@{/img/how3.png}"/>-->
<!--          <h3>Win</h3>-->
<!--          <p>Fun - Excitement - Great deals</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->
<!-- start footer -->
<nav th:replace="fragments/navbar :: footer"></nav>
<!-- end footer -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script th:src="@{/js.js}"></script>
</body>
</html>