<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/9e5d1913ca.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
<!-- start navbar -->
<nav th:replace="fragments/navbar :: navbar"></nav>
<!-- end navbar -->
<!-- start hero img -->
<section class="main-img">
    <div class="overlay"></div>
    <div class="container h-100">
        <div class="row h-100">

            <div class="col h-100">
                <div class="header-text">
                    <h1>Hot Deal
                        For You</h1>
                    <p>Online Auction is where everyone goes to shop, sell,and give, while discovering variety and affordability.</p>
                    <div class="register-btn" sec:authorize = "!isAuthenticated()">
                        <form action="/login" method="get" class="me-3">
                            <input type="submit" value="login" class="btn  btn-outline-info my-btn me-3">
                        </form>
                        <form action="/signup" method="get">
                            <input type="submit" value="signup" class="btn  btn-outline-info my-btn">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-7 h-100">
<!--                <div class="header-img">-->
<!--                    <img th:src="@{/img/6.png}" alt="">-->
<!--                </div>-->
            </div>
        </div>

    </div>

</section>
<!-- end hero img -->
<section class="section-2">
<div class="container">
    <div class="section2-header">
        <h1>How it works</h1>
    </div>
    <div class="all-works">

        <div class="row">
            <div class="hiw-wrapper hiw-wrapper-3 flex-wrap flex-start-v">
                <div class="hiw-item service hiw-1629877062">
                    <div class="service-icon animation">
                        <i class="fas fa-key"></i>
                    </div>
                    <h3>Sign Up</h3>
                    <p>No Credit Card Required</p>
                </div>
                <div class="hiw-item service hiw-1629877062">
                    <div class="service-icon animation">
                        <i class="fas fa-gavel"></i>

                    </div>
                    <h3>Bid</h3>
                    <p>Bidding is free Only pay if you win</p>
                </div>
                <div class="hiw-item service hiw-1629877062">
                    <div class="service-icon animation">
                        <i class="fas fa-trophy"></i>

                    </div>
                    <h3>Win</h3>
                    <p>Fun - Excitement - Great deals</p>
                </div>
            </div>

        </div>
    </div>
</div>
</section>


<!--start why section -->
<section class="section-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <img th:src="@{/img/17.png}" class="section3-img">
            </div>
            <div class="col">
                <div class="section3-text">
                    <h1>Why Choose iBid</h1>
                    <p><i class="fas fa-cash-register"></i>  Sell Your Item Safely</p>
                    <p><i class="fas fa-people-arrows"></i> Meet seller at a safe location</p>
                    <p><i class="fas fa-hand-holding-usd"></i>Pay only after collecting item</p>
                </div>
            </div>
        </div>
    </div>

</section>

<!--end why section -->
<!--start section 4-->
<section class="section-2">
    <div class="container">

        <div class="row">
            <div class="col">
                <div class="sextion4-text">
                <div class="section2-header">
                    <h1 class="pb-5 text-left">What is iBid</h1>
                </div>


                    <p>Auction website allows the user to buy or sell any product they want, the user can put products in both ; used products or new products like (cars,furniture,laptops,photos,split units AC,apartment etc..) to sell them by the website . The user who want to sell his product , should upload a photo for the product ,description,minimum bidding,minimum price,time, and method for payment),The user who wants to buy or bid on any product must fill an agreement form to ensure they have money and follow the policies for the website .</p>
                </div>
            </div>
            <div class="col section4-allimg">
                <img th:src="@{/img/20.gif}" class="section4-img" />
                <img th:src="@{/img/19.gif}" class="section4-img" />

            </div>
        </div>
    </div>
</section>
<!--end section 4-->

<!-- start footer -->
<nav th:replace="fragments/navbar :: footer"></nav>
<!-- end footer -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script th:src="@{/js.js}"></script>
</body>
</html>