<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/normalize.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/9e5d1913ca.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
<!-- start navbar -->
<nav th:replace="fragments/navbar :: navbar"></nav>
<!-- end navbar -->
<div class="profile product">
    <div class="background-img-product">
    </div>
    <div class="all-container mb-5 pb-5">
        <div class="container">
<!--            for each-->



<!--            <div>-->
<!--                <ul th:each="product : ${products}" >-->
<!--                    <li class="list-group-item disabled">Post :<span th:text="${product.productName}"></span><br/>-->
<!--                    <li class="list-group-item disabled">Time :<span th:text="${product.productImageUrl}"></span><br/>-->
<!--                    <li class="list-group-item disabled">Post :<span th:text="${product.time}"></span><br/>-->
<!--                    <li type="date" class="list-group-item disabled">Time :<span th:text="${product.minPrice}"></span><br/>-->
<!--                    </li>-->
<!--                    <br/>-->
<!--                </ul>-->

<!--            </div>-->
        <div  class="row row-cols-3 ">
            <div th:each="product : ${products}" class="col mb-3">
                <div class="card m-auto" style="width: 19rem;">
                    <div class="card-icon">
                        <img class="card-img-top" th:src="@{${product.productImageUrl}}" alt="Card image cap"/>
                        <i class="fa fa-gavel" aria-hidden="true"></i>
                    </div>
                    <div class="card-body">
                        <h5 th:text="${product.getProductName()}"class="card-title"></h5>
                        <div class="price">
                            <div class="current-Bid">
                                <i class="fa fa-gavel text-success" aria-hidden="true"></i>
                                <div class="text-price">
                                    <p class="text-success">Start Price</p>
                                    <p th:text="${product.minPrice} +' JOD' "></p>
                                </div>
                            </div>
                            <div class="current-Bid ">
                                <i class="fas fa-hand-holding-usd text-danger"></i>
                                <div class="text-price">
                                    <p class="text-danger">Buy Now</p>
                                    <p>$876.00</p>
                                </div>
                            </div>
                        </div>
                        <div type="date" th:text="${product.time}" class="card-timer d-none" ></div>
                        <div class="demo"></div>
                        <a href="#" class="btn  btn-outline-info pink-btn">Go somewhere</a>
                    </div>

                </div>
            </div>

        </div>
        </div>

    </div>

</div>

<!-- start footer -->
<nav th:replace="fragments/navbar :: footer"></nav>
<!-- end footer -->

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script th:src="@{/js.js}"></script>
</body>
</html>